/* ---------- Global Styles ---------- */
html,
body {
    margin: 0;
    padding: 0;
}

/* ---------- ID Selector Styling ----------*/ 

/* ---------- Class Selector Styling ----------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-Btn {
    margin: 2rem 0;
    border-style: none;
    border-radius: 0px;
    outline: none;
    padding: 1rem 4rem;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid black;
    padding: 24px;
    margin: auto;
    width: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.close:hover {
    cursor: default;
}
.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.book-table {
    border: 1px solid black;
}
.book-table td {
    border: 1px solid black;
}