:root {
    --white-color: #F1EDEE;
    --dark-blue: #3D5467;
    --light-blue: #8AA29E;
    --background: #131513;
}
:focus {
    border: 3px solid #DB5461;
    outline: none;
}
/* ---------- Global Styles ---------- */
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--background);
}
th {
    font-size: 1.5rem;
    background-color: var(--dark-blue);
}
tbody:before {line-height:1em; content:"\200C"; display:block;}

/* ---------- ID Selector Styling ----------*/ 
#bookContainer {
    width: 100%;
}
#modalAddBook {
    background-color: #DB5461;
    color: var(--white-color);
    font-size: 1.5rem;
    margin: 2rem 0;
    border-style: none;
    border-radius: 0px;
    outline: none;
    padding: 1rem 4rem;
}
/* ---------- Class Selector Styling ----------*/
.modal {
    display: none;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-Btn {
    background-color: #DB5461;
    color: var(--white-color);
    font-size: 1.5rem;
    margin: 2rem 0;
    border-style: none;
    border-radius: 0px;
    outline: none;
    padding: 1rem 4rem;
}
.modal-content {
    position: relative;
    background-color: var(--dark-blue);
    padding: 24px;
    margin: auto;
    width: 80%;
}
.modal h1 {
    font-size: 2.5rem;
    color: var(--white-color);
}
.form-input {
    color: var(--white-color);
    font-size: 1.1rem;
    margin-top: 1rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.close:hover {
    cursor: default;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.book-table {
    width: 80%; 
    margin: 0 auto;
}
.book-Body td {
    font-size: 1.25rem;
    width: 25%;
}
.book-Body tr{
    background-color: var(--light-blue);
}
.book-Body tr :nth-child(3),
.book-Body tr :nth-child(4) {
    background-color: #DB5461;
}
.book-Body td button {
    width: 100%;
    background-color: #DB5461;
    color: var(--white-color);
    font-size: 1.25rem;
    outline: none;
    border-style: none;
    border-radius: 0px;
}
 
    