/* ---------- Class Selector Styling ----------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid black;
    padding: 24px;
    margin: auto;
    width: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}