:root {
    --white-color: #F1EDEE;
    --table-head: #3D5467;

    --background: #131513;
}
/* ---------- Global Styles ---------- */
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
}
th {
    padding-right: 10px;
    margin-left: 50px;
}
/* ---------- ID Selector Styling ----------*/ 
#bookContainer {
    width: 100%;
}
/* ---------- Class Selector Styling ----------*/
.modal {
    display: none;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-Btn {
    background-color: #DB5461;
    color: var(--white-color);
    font-size: 1.5rem;
    margin: 2rem 0;
    border-style: none;
    border-radius: 0px;
    outline: none;
    padding: 1rem 4rem;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid black;
    padding: 24px;
    margin: auto;
    width: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.close:hover {
    cursor: default;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.book-table {
    width: 80%;
    background-color: var(--table-head);
    border: 1px solid black;
    margin: 0 auto;
}
.book-Body td {
    border: 1px solid black;
    width: 25%;
}
.th-seperator {
    border-right: 1px solid white;
}
 
    